<!-- About Section -->
<section class="success" id="about">
  <div class="container primary-dark">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Dino Tutors</h2>
        <hr class="star">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Dino Tutors is a fake tutoring agency founded in 2017 by some highly intelligent individuals working at
           <a class="tc-link" href="https://tutorcruncher.com">TutorCruncher</a>.</p>
        <p>
          It has been created as an example of a tutoring agency or centre providing tuition to their clients. If this sounds like you, why don't you
          get in touch to learn about TutorCruncher, the industry leading business management system built for the tutoring industry.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://tutorcruncher.com" class="btn btn-lg btn-outline">
          <i class="fa fa-arrow-right"></i> Find out more
        </a>
      </div>
    </div>
  </div>
</section>