<!-- Contact Section -->
<section id="contact">
  <div class="container primary-light">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 text-center">
        <h2>Contact Us</h2>
        <hr class="star">
        <p class="tc-desc">
          Below is an example of a contact form that, when submitted, would send all relevant admins within TutorCruncher an email with the client's details as well
           as creating them as a Prospect Client.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="socket-enquiry"></div>
      </div>
    </div>
  </div>
</section>
<script>
  socket('{{ site.socket_key }}', {
    mode: 'enquiry',
    element: '#socket-enquiry'
  });
</script>
