<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>
            {% for line in site.address %}
              {{ line }} <br>
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Find us online</h3>
          <ul class="list-inline">
            {% for network in site.social %}
              <li>
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Dino Tutors</h3>
          <p>Please note we are not a real tutoring company; this is a website showcasing the power of TutorCruncher.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41117087-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-41117087-4');
</script>

<script>
  socket('{{ site.socket_key }}', {
    api_root: '{{ site.socket_api_root }}',
    mode: 'enquiry-modal',
    element: '#socket-enquiry-modal',
    router_mode: 'history'
  })
</script>
