<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>
            {% for line in site.address %}
              {{ line }} <br>
            {% endfor %}
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Find us online</h3>
          <ul class="list-inline">
            {% for network in site.social %}
              <li>
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Dino Tutors</h3>
          <p>Please note we are not a real tutoring company; this is a website showcasing the power of TutorCruncher.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41117087-4', 'auto');
  ga('send', 'pageview');
</script>
<script src="{{ page.socket_url }}"></script>
{% if page.socket_init_file %}
  <script src="{{ page.socket_init_file }}"></script>
{% else %}
  <script>
    socket('{{ site.socket_key }}', {
      mode: 'enquiry',
      element: '#socket-enquiry'
    });

    socket('{{ site.socket_key }}', {
      router_mode: 'history'
    });
    socket('{{ site.socket_key }}', {
      mode: 'enquiry-modal',
      element: '#socket-enquiry-modal',
      router_mode: 'history',
      event_callback: function() {
        console.log('socket event callback')
        // need to wait for the form to be completely loaded
        setTimeout(function() {
          $('[name="client_email"]').each(function(){
            $(this).attr('placeholder', 'Email (Required)')
            $(this).attr('required', 'required')
          }, 200)
        })
      }
    })
  </script>
{% endif %}
