<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% unless page.permalink == '/' %}/{% endunless %}#page-top">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="{% unless page.permalink == '/' %}/{% endunless %}#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="/examples/">Socket Examples</a>
        </li>
        <li class="page-scroll">
          <a href="{% unless page.permalink == '/' %}/{% endunless %}#our-tutors">Our Tutors</a>
        </li>
        <li class="page-scroll">
          <a href="{% unless page.permalink == '/' %}/{% endunless %}#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="https://secure.dinotutors.com">Sign in</a>
        </li>
        <li class="page-scroll">
          <div id="socket-enquiry-modal"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script src="{{ site.socket_url }}"></script>
