<section id="our-tutors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 primary-light text-center">
        <h2>Our Tutors</h2>
        <hr class="star">
        <p>
          At Dino Tutors, we are committed to excellence. We source only the best tutors from around London.
          Each and every one goes through an extensive interview process to make sure they are the right pick for your family.

          Click on a tutor to view their profile and request their services.
        </p>
        <p class="tc-desc">
          TutorCruncher Socket lists your approved tutors from within the system, including subjects they teach and at what level they teach them and
          any customisable fields you wish to include.</p>
        <p class="tc-desc">
          A client can click on a tutor's profile to view their profiles and request them. If this happens, all
          relevant admins within TutorCruncher would receive and email with the client's details as well as creating them as a Prospect Client.
          Optionally, a new job would be created in the system with the tutor as an applicant for it.
        </p>
      </div>
      <div class="socket-container">
        <div id="socket"></div>
      </div><br>
      <div class="col-lg-12 text-center primary-light" id="become-a-tutor">
        <h3 class="tutor-sign-up">Interested in becoming a tutor?</h3>
        <p>Create an account with us, fill in your profile and we'll get in touch to arrange an interview!</p>
        <p class="tc-desc">
          Your tutors can create pending accounts and fill in their profiles with as much information as you wish so that you can review
          them and decide whether or not to take their application further.
        </p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="https://secure.dinotutors.com/dinotutors/signup/tutor/" class="btn btn-lg btn-outline">
            <i class="fa fa-graduation-cap"></i> Become a tutor
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
